*{
     margin: 0%;
     padding: 0%;
     font-family: 'Inter', sans-serif;
     font-family: 'Work Sans', sans-serif;   

}

/* ---primary-color-code---- */

:root{
     --light-pink-color: #FF42A5;
     --linear-pink-color:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     --white-color:#FFF;
}


/* <---------------------Start nav-section---------------- --> */
header{
     height: 100vh;
}

nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 150px;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.103);
     position: relative;
     
}
.nav-logo{
     display: flex;
     align-items: center;
     gap: 1rem;

}
.nav-logo>h1{
      font-size: 40px;
     font-weight: 700;

}
.nav-logo span{
    color:var(--light-pink-color) ;
}
.nav-content>ul{
     display: flex;
     align-items: center;
     
    
}
.nav-content>ul>li{
     margin-right: 25px;
     list-style: none;
     color: #3C354F;
     font-size: 1rem;
     font-weight: 500;
     

}

.nav-content>ul>li>a{
     text-decoration: none;
     cursor: pointer;  
     
     
}
.nav-follow a{
     text-decoration: none;
     color: #3C354F;


}
.nav-follow{
     display: flex;
     align-items: center;
     gap: 1.1rem;
     padding:1rem;
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
      
}

/* ----------------------------Banner-section----------------------- */

.banner{
     display: flex;
     justify-content:center;
     align-items: center;
     height: 70vh;
     margin-right: 155px;    
}

.banner-container>img{
     position: relative;
     top: 51px;
     width:700px;
     height: 85vh;      
}

.banner-content{
     position: absolute;
     margin-left: 160px;
     margin-top: -28%;
}
.banner-content>h2{
     color: #0B0223;
     font-size: 3rem;
     font-weight: 600;
     text-transform: uppercase;

}
.banner-content>h1{
     font-size: 5.8rem;
     font-weight: 800;
     text-transform: uppercase;  
     background:var(--linear-pink-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 1.8rem;
}
.paragraph span{
     display: flex;
     align-items: center;
     gap: 10px;
     margin-bottom: 1rem;
}
.paragraph span>img{
     width:20px;
}
.paragraph span>p{
     color: #534C64;
     font-size:1.2rem;
     font-weight: 500;
     

}
.banner-btn button{
     padding: 21px 40px;
     gap: 10px;
     border-radius: 48px;
     border: none;
     margin-top: 10px;
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
     cursor: pointer;  
}
.banner-btn-1{
     background-color: var(--light-pink-color);
     
}
.banner-btn-2{
     background-color:#4EC5F7;
     margin-left: 10px;
}


.banner-images>img{
     margin-top: 121px;
     margin-right: 20px;
   width: 100%;
   height: 84vh;
   
}

/* ----------------------gamer-section-------------------- */
.gamer-container{
     width: 100%;
     height: 600px;
     display: flex;
     justify-content:center;
     align-items: center;
     text-align: end;
     margin-top: 9px;
     gap: 10px;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}
.gamer-container img{
     width: 520px;
     height: 400px;
    

}
.gamer-content{

     margin-right: 40px;
}

.gamer-content h1{
     font-size: 48px;
     font-weight: 700;
     background:var(--linear-pink-color) ;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}
.gamer-content p{
     width: 510px;
     color: #534C64;
     font-size: 1.1rem;
     font-weight: 400;
     line-height: 30px; 
     margin-top:24px ;
}

.gamer-btn{
     padding: 21px 40px;
     color: var(--white-color);
     font-size: 1.2rem;
     font-weight: 600;
     text-transform: uppercase;
     margin-top: 20px;
     border-radius: 48px;
     border: none;
     background: var(--light-pink-color);
     cursor: pointer;
}
.gamer-content h3 small{
     color: #534C64;
     font-size: 1.1rem;
     font-weight: 500;
     line-height: 45px; 
}
.gamer-content h3{
     width: 517.5px;
     color: #534C64;
     font-size: 32px;
     font-weight: 700;

     }


  /* ----------------------------online-game-section-------------------    */
  .online-game{
     margin: 0px 160px;
     
  }
  .online-game-tittle{
      text-align: center;
      margin-top: 30px;
     font-size: 48px;
     font-weight: 700;
  }
  .online-game-tittle span{
     background: var(--linear-pink-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }
  .online-game-description{
     text-align: center;
     color: #534C64;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin-top: 10px;
  }
  .online-card-container{
     display: flex;
     justify-content:center;
     align-items: center;
     margin-top: 50px;
     gap: 30px;
}

.card{
     width: 260px;
    height: 300px;
    transform: translate(0%, 0%);
}
.card>img{
width: 100%;
height: 100%;
}

.overlay{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     opacity: 0;
     transition: opacity 0.4s ease-in-out;
     background-color: #000000;
     cursor: pointer;
     border-radius: 10px ;

}
.content{
     position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-family: verdana;
   text-align: center;
   
}
.content>h2{
font-size:1rem;
color: #FF42A5;
margin-top: 15px;
}
.card:hover .overlay{
     opacity: 0.8;
     border: 5px solid #FF42A5;
}

.card p{
     color: #534C64;
     font-size: 1rem;
     font-weight: 500;
     line-height: 20px;
     margin-top: 10px;
  }

  /* ---------------------play-game section------------------ */
  .play-games{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0px 170px;
     margin-top: 150px;
     text-align: right;
     gap: 170px;
     
  }

  .play-games-image>img{
     width: 450px;
     height: 500px;
  }
  .play-games-image-2 img{
     position: relative;
     width:250px ;
     height:270px;
     top: -200px;
     right: 70%;
  }
  .play-games-content{
     margin-top: -250px;
  }
  .play-games-content h1{
     font-size: 48px;
     font-weight: 700;
     line-height: 80px;
     margin-bottom: 20px;

  }
  .play-games-content h1 span{
     background: var(--linear-pink-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }
  .play-games-content>p{
     color: #534C64;
     font-size: 1.2rem;
     font-weight: 400;
     line-height: 30px;
  }


  .play-games-2{
     flex-direction: row-reverse;
     text-align: left;
     margin-top: -100px;
     gap: 142px;
  }
  .play-games-image-3 img{
     left: 70%;
  }

  /* -----------------------------all game-list---------------------- */
  .all-game-container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     height:250px ;
     padding: 20px 0px;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
     margin-top: -100px;
  }
  .singel-game{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px 15px;
     box-sizing: border-box;
     margin: 10px;
     border-radius: 50px;
     gap: 10px;
     cursor: pointer;
     border: 1px solid rgb(255, 255, 255);
     
  }
  .singel-game:hover{
     border: 1px solid var(--light-pink-color);
     color: var(--light-pink-color);
  }
  .singel-game img{
     width: 50px;
     height: 50px;
  }
  .singel-game h3{
     font-size: 14px;
     font-weight: 600;

     }


     /* ----------------------------------footer section-------------------- */

     .footer-container{
          height: 500px;
          text-align: center;
          align-items: center;
          background-color: #0B0223;
          color: var(--white-color);
          
     }
     .footer-content{
          position: relative;
          top: 100px;
          justify-content: center;

     }
     
     .footer-logo{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-bottom: 30px;
     
     }
     .footer-logo>h1{
           font-size: 40px;
          font-weight: 700;
     
     }
     .footer-logo span{
         color:var(--light-pink-color) ;
     }

     .footer-support-section>ul{
          display: flex;
          justify-content: center;
          align-items: center;
          
     }
     .footer-support-section>ul li{
          list-style: none;
          margin:20px 30px;
     }
     .footer-support-section>ul a{
          text-decoration: none;
          color: var(--white-color);
     }
     .footer-icon-list i{
          font-size: 25px;
         margin: 20px 20px;
     }

     .privacy-policy>ul{
          display: flex;
          justify-content: center;
          align-items: center;

     }
     .privacy-policy>ul li{
          list-style: none;
          margin: 40px 20px;
     }
     .privacy-policy>ul a{
          text-decoration: none;
          color: #ada8a8;
     }
     .footer-icon-list a{
     color: white;
     cursor: pointer;
     }
     .footer-cpyright{
          margin-top: 10px;
          font-size: 16px;
          color: #9f9fa1;
     }